@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #000;
    color: aliceblue;
}

.overlay{
    background: rgba(22, 21, 21, 0.411);
    inset: 0;
}

.btnPrimary{
    padding: 10px;
    /* background: rgba(255, 255, 255, 0.551);
    border: white solid 1px; */
    background: linear-gradient(to right, transparent 50%, rgb(182, 14, 14) 50%);
    background-position: left bottom;
    background-size: 200% 100%;
    border: 1px solid white;
    transition: all 1s ease-in-out;

}

.btnPrimary:hover{
    /* background-size: 100% 100%; */
    /* background: linear-gradient(to right, rgb(11, 119, 131) 50%, white 50%); */
    background-position: right bottom;
    border: none;
}

.btnPrimary:active{
    transform: scale(2,2);
}